body{
    color:rgba(230, 226, 26, 0.644);
    background:rgba(68, 218, 9, 0.829);
    margin: 0px;
    font-family:"Stack Sans Text", sans-serif;
}
header{
    border-bottom: solid 2px rgb(0, 0, 216);
    padding: 20px;
    font-size: 32px;
    color: rgb(214, 32, 26);
}
.chamada{ 
    background: rgba(72, 103, 168, 0.925);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin-right: 5%;
}

h1{
    font-size: 40px;
}
p{
    font-size: 20px;
}
.categoria-videos{
    display:flex;
    overflow: auto;
    gap: 10px;
}
.categoria{
    padding: 20px;
    padding-right: 20px;
}
.categoria-videos img{
    opacity: 0.5;
    height: 200px;
}
.categoria-videos img:hover{
    opacity: 1.0;
    border: 1px solid rgb(197, 118, 193);
}
